.livestreams {
  min-height: 92vh;

  @media screen and (max-width: 768px) {
    min-height: 50vh;

    .livestream-background-image {
      background-image: none !important;
    }
  }
}

.Overlay {
  object-fit: contain;
  background-image: linear-gradient(to bottom, rgba(14, 13, 13, 0), #1b1b1b);
}

.livestreamsLoader {
  padding-top: 40vh;
  height: 90vh;
}

.livestream__details {
  color: white;
  padding-top: 8rem;

  &-buttons {
    position: relative;
    margin: 20px 0;
    text-align: end;

    @media screen and (max-width: 768px) {
      margin: 20px 0 0;
      display: flex;
    }

    > a {
      margin: 0 20px;

      @media screen and (max-width: 768px) {
        margin: 0 10px;
      }
    }
  }

  &_goBack {
    cursor: pointer;
    display: flex;

    svg {
      align-self: center;
    }

    p {
      margin-left: 1rem;
      font-size: 16px;
      font-weight: bold;
    }
  }

  &_image-content-grid {
    // max-height: 318px;
    width: 100vw;
    overflow: hidden;

    &.MuiGrid-item {
      margin-bottom: 2.5rem;
    }
  }

  &_image {
    width: 100%;
  }

  .livestream-content-header {
    justify-content: space-between;
  }

  &_title {
    font-size: 68px;
    line-height: 1.2;
    margin-block-start: 0;
    margin-block-end: 1rem;
  }

  &_button {
    align-self: center !important;
  }

  &_zoom-room--wrapper {
    background-color: rgba(61, 61, 61, 0.2);
    padding: 0 0 0 50px;

    @media screen and (max-width: 768px) {
      padding: 0;
    }

    img {
      width: 100%;
    }

    h2 {
      padding-top: 1rem;
      padding-left: 2.8rem;
    }
  }

  &_zoom-room {
    font-size: 22px;
    border-radius: 2px;

    li {
      list-style: none;
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
    }
  }

  &_content-block-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 2rem;
    color: #ffffff;

    .content-block-details-label {
      font-size: 14px;
      opacity: 0.5;
    }

    .content-block-details-value {
      font-size: 22px;
      margin-block-start: 0;
      margin-block-end: 0;
    }

    .details-value-genre {
      padding-right: 1rem;
    }
  }

  @media screen and (max-width: 768px) {
    padding-top: 6rem;

    &_image {
      width: 100vw;
      padding: 0;
      overflow: hidden;
    }

    &_title {
      font-size: 40px;
    }

    &_button {
      display: none; // for now, don't display timer, it's too wide on mobile
    }

    .content-block-details-value {
      font-size: 16px;
    }

    &_image-content-grid {
      iframe {
        width: 90vw;
        height: 200px;
        padding-bottom: 1rem;
      }
    }
  }
}

.livestream-content-header {
  display: flex;
  justify-content: space-between;
  color: white;
}

.livestream__row2_details {
  color: white;

  .content-block-description-title {
    font-size: 41px;
    font-weight: bold;
  }

  .content-block-description-text {
    font-size: 22px;
  }

  &_image {
    width: 100%;
  }

  &_share-content {
    display: flex;
    padding: 3rem 0;
  }

  &_share-content-text {
    padding: 1rem 10rem 0 2rem;
    align-self: center;
  }

  &_share-content-text--title {
    font-size: 68px;
    font-weight: bold;
    margin-block-start: 1rem;
    margin-block-end: 0;
    line-height: 1;
  }

  &_share-content-text--subtitle {
    font-size: 22px;
  }

  @media screen and (max-width: 768px) {
    .content-block-description-title {
      font-size: 28px;
    }

    .content-block-description-text {
      font-size: 16px;
    }

    &_share-content {
      display: block;
    }

    &_share-content-text--title {
      font-size: 40px;
    }

    &_share-content-text {
      padding: 0;
      align-self: left;
    }

    &_share-content-text--subtitle {
      font-size: 22px;
    }
  }
}

.programma {
  font-size: 68px;
  font-weight: bold;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1;
  color: #ffffff;

  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
}
