.livestreamslider {
  &__section {
    margin-bottom: 50px;

    @media (max-width: 767px) {
      margin-bottom: 25px;
    }
  }

  &__bottom-title h3 {
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 5px;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }

  &__page-titlewrapper {
    padding-top: 110px;
    display: flex;
    width: 80vw;
    margin-left: 10%;

    @media (max-width: 767px) {
      display: block;
      padding-top: 130px;
      width: 90vw;
      margin-left: 20px;
    }
    @media (min-width: 767px) and (max-width: 1024px) {
      padding-top: 200px;
      width: 90vw;
      margin-left: 20px;
    }
  }

  &__page-title {
    width: 50%;
    margin: 0;

    @media (max-width: 767px) {
      margin: 0;
      width: 100%;
    }

    > h1 {
      font-size: clamp(
        2.75rem,
        calc(2.3145rem + 1.9355vw),
        4.25rem
      ); // calculator on https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1;
      letter-spacing: normal;
      color: #ffffff;
      text-transform: uppercase;

      @media (max-width: 767px) {
        font-size: 40px;
        font-weight: bold;
        line-height: 1;
        letter-spacing: normal;
        color: #ffffff;
      }
    }
  }

  &__page-description {
    width: 50%;
    margin: auto;

    @media (max-width: 767px) {
      width: 100%;
    }

    > p {
      font-size: clamp(1.125rem, calc(1.0524rem + 0.3226vw), 1.375rem);
      font-weight: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      color: #ffffff;

      @media (max-width: 767px) {
        font-size: 18px;
      }
    }
  }

  &__bottom-wrapper {
    display: flex;
  }

  &__bottom-title {
    > p {
      opacity: 0.5;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.56;
      color: #ffffff;
      margin: 5px 0;
    }
  }

  &__bottom-playing {
    width: 30%;
    text-align: right;
    margin: 20px 0;
  }
}

.bghjHX {
  margin: 0 0 0 0;
}

.livestreamslider__contents {
  .react-multi-carousel-item div div {
    padding: 0;

    @media (max-width: 448px) {
      max-height: calc(calc(100vw - 40px) * 0.56);
    }
  }

  span {
    position: relative;
    padding-top: 56%;
    overflow: hidden;

    img {
      object-fit: cover;
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
    }

    // an additional span is inserted in the card that is only replaced when the image is loaded
    span {
      padding-top: 0;
    }
  }
}
