.make-zoom-room {
    // this is far from optimal, but I don't see a better way to quickly override the global css for this container
    &.MuiContainer-maxWidthLg {
      max-width: none;
  
      @media (min-width: '480px') {
        width: 80vw;
      }
    }
  
    .MuiContainer-maxWidthLg {
      max-width: none;
    }
  
    @media (min-width: 600px) {
      &.MuiContainer-root {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
  