.zoomslider {
  &__bottom {
    display: flex;

    &-title {
      width: 50%;
      text-align: left;
      color: #ffffff;
      font-weight: bold;
      line-height: 1.39;
      letter-spacing: normal;
      color: #ffffff;
    }
  }

  &__button {
    width: 50%;
    text-align: right;
    margin: auto;
  }

  &__item-zoom {
    h3 {
      color: white;
    }
  }

  &__section {
    margin-left: 10%;

    @media (max-width: 1024px) {
      margin-left: 0;
    }
  }

  &__section-title {
    color: white;
  }
}
