.mobile-menu {
  display: block;
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  /* background-color: transparent;
  border: 0; */
  line-height: 1; /* to remove extra unwanted vertical space of .menu-toggle */
  margin: 0;
  overflow: visible;
  border: none;
  background: transparent;
}

/* .hamburger:hover {
  opacity: 0.7;
} */

.hamburger-box {
  /* width: 40px; */
  width: 20px;
  /* height: 24px; */
  height: 12px;
  display: inline-block;
  position: relative;
  vertical-align: middle; /* added this to vertically align with MENU text */
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  /* width: 40px; */
  width: 20px;
  /* height: 4px; */
  height: 3px;
  /* background-color: #000; */
  background-color: #333;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--squeeze {
  .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before {
      transition: top 0.075s 0.12s ease, opacity 0.075s ease;
    }

    &::after {
      transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active {
    .hamburger-inner {
      transform: rotate(45deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.075s ease, opacity 0.075s 0.12s ease;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }

  @media (min-width: '480px') {
    display: none;
  }
}

.mobile-menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  list-style: none;
  max-height: 0;
  transition: max-height 0.5s, padding 0.5s;
  overflow: hidden;

  &.is-active {
    max-height: 180px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  a {
    font-size: 18px;
    color: #000;
  }

  @media (min-width: '480px') {
    display: none;
  }
}

.navbar {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 999;

  @media (min-width: '480px') {
    display: flex;
    justify-content: center;
  }
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 55px;
  transition: all 0.2s ease;
  background-color: white;

  @media (min-width: '480px') {
    &.home {
      width: calc(
        (100vh - 55px) * 1.92
      ); // window height minus navbar height times the ratio of the hero image (1920 x 1000)
    }
  }

  // prevent navbar logo and button to move outside hero visual horizontal range
  @media (min-width: '1750px') {
    padding: 0;
  }

  &__logo {
    margin-left: 2vw;
    max-height: 25px;
    width: auto;

    @media (min-width: '1750px') {
      margin-left: calc((100vw - 1695px) / 2); //magic calculation for navbar logo
    }

    &--desktop {
      display: block;
    }

    &--mobile {
      display: none;
    }

    // &--sticky {
    //   position: sticky;
    //   top: 0;
    // }

    @media (max-width: '480px') {
      max-height: 20px;

      &--desktop {
        display: none;
      }

      &--mobile {
        display: block;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    font-size: 23px;
    margin-right: 2vw;

    @media (min-width: '1750px') {
      margin-right: calc((100vw - 1695px) / 2); //magic calculation for navbar logo
    }

    &--link {
      display: block;
      font-size: 18px;
    }

    @media (max-width: '480px') {
      font-size: 12px;
      margin-right: -15px; // offset padding-left on hamburger for visual spacing

      &--link {
        display: none;
        font-size: 14px;
      }
    }

    a {
      color: black;
      padding-right: 25px;

      @media (max-width: '480px') {
        padding-right: 0;
      }
    }

    a:last-of-type {
      color: white;
      padding: 5px 10px;
      font-weight: 500;
      background-color: #8d00ff;
      border-radius: 20px;

      @media (max-width: '480px') {
        font-size: 12px;
      }
    }
  }

  &__cta {
    display: flex;
    align-items: center;
  }
}

.navbar-count-down {
  width: 130px; // set fixed size to countdown so the environment doesnt 'jump'
  margin-right: 30px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;

  @media (max-width: 768px) {
    display: none;
  }
}
