* {
  // set the same font everywhere
  font-family: 'ProximaNova', sans-serif;
}

.button {
  display: inline-flex;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  z-index: 1;

  &:after {
    content: '';
    bottom: 0;
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 4px;
    height: 100%;
    background-color: #8d00ff;
    z-index: -2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    border-radius: 4px;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#8d00ff, 15%);
    transition: all 0.3s;
    z-index: -1;
  }

  &:hover {
    color: #fff;

    &:before {
      width: 100%;
    }
  }
}

i.custom-right-arrow {
  cursor: pointer;
  position: absolute;
  right: 30px;
  z-index: 1;
  top: 35%;
  height: 40%;

  @media (max-width: 767px) {
    right: 12px;
  }
}

i.custom-left-arrow {
  cursor: pointer;
  position: absolute;
  left: 30px;
  z-index: 1;
  transform: rotate(180deg);
  top: 35%;
  height: 40px;

  @media (max-width: 767px) {
    left: 12px;
  }
}

li.react-multi-carousel-item {
  padding: 20px;

  .zoomslider__section & {
    padding: 20px 20px 0 20px;
    margin-bottom: -20px;
  }

  @media (min-width: '480px') {
    padding: 20px 40px 20px 0;
  }
}
