.container--error {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: whitesmoke;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  * {
    transition: all 0.6s;
  }

  body {
    color: #888;
    margin: 0;
  }

  #main {
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;

    .fof {
      display: table-cell;
      vertical-align: middle;

      h1 {
        font-size: 50px;
        display: inline-block;
        padding-right: 12px;
        animation: type 0.5s alternate infinite;
      }

      span {
        color: green;
        font-size: large;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  @keyframes type {
    from {
      box-shadow: inset -3px 0px 0px #888;
    }

    to {
      box-shadow: inset -3px 0px 0px transparent;
    }
  }
}
