//font face

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/proxima_ssv/ProximaNova-Regular.otf');
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  font-style: bold;
  font-weight: 500;
  src: url('../fonts/proxima_ssv/ProximaNova-Bold.otf');
  font-display: swap;
}
@font-face {
  font-family: 'ProximaNova';
  font-style: 'black';
  font-weight: 900;
  src: url('../fonts/proxima_ssv/ProximaNova-Black.otf');
  font-display: swap;
}
@font-face {
  font-family: 'SpaceMono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/space_mono/SpaceMono-Regular.ttf');
}
