/*
*   Breaking points
*/

$breakpoints: (
  'small': 768px,
  'medium': 992px,
  'large': 1200px,
  'extra-large': 1900px,
) !default;

/*
*   Brand colors
*/

$primary: #008d6a !default;
$secondary: #002060 !default;
$accent: #008d6a !default;
$paragraph: #4e6083 !default;

/*
*   Typography
*/

$nav-color: $secondary !default;
$nav-font-size: 15px !default;
$nav-font-family: '' !default;
$nav-line-height: 1.73;
